<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <script src="js/lib/angular.min.js"></script>
    <title>Document</title>
</head>
<body> 
    <h1>{{"HOLA MUNDO"}}</h1>
    <h4>CON ANGULAR js</h4>
</body>
</html>
<br>
<br>
<H1>FILTROS CON ANGULAR</H1>
<H4>{{"ALEJANDRO"}}</H4>
<h4>
  {{"ALEJANDRO" | lowercase }}  
<br>
<h4>{{"ALEJANDRO"| upprcase}}</h4>
</p>
<br>
<p>
<h1>Filtros de moneda</h1>
<h4>{{1283718 | currency}}</h4>
<br>
<h4>{{10500 | currency: 'Mx}}</h4>
<br>
<h4>{{150000 | number}}</h4>
</p>

<input type="checkbox" ng-model="opt1>opt1" 
<input type="checkbox" ng-model="opt1>opt2"
